In [1]:
import numpy as np
import pandas as pd

print(np.__version__)
print(pd.__version__)

1.26.3
2.1.4

Exercício 1: Criando um conjunto de dados
Colete estas informações, pode ser manualmente, e crie listas com as mesmas. Aqueles
campos para os que não se aplique resposta no questionário preencha com None .

In [2]:
#ordem: Leane, Myllena, Alana, Girleide, Gabriel
identificador = ["tic18Py07799", "tic18Py05996", "tic18Py06799", "tic18Py08099", "tic18Py07100"]
idade = [24, 27, 24, 24, 23]
formação = [2, 1, 3, 2, 2]
formaçãoGeral = [0, 0, 1, 0, 0]
formaçãoEspecífica = ["Engenharia Química", "Engenharia Química", "Ciência da Computação", "Engenharia Química", "Engenharia Elétrica"]
andamentoGraduação = [76.94, 81.38, None, 75.58, 90.16]
tempoFormação = [None, None, 1, None, None]
experiênciaPrevia = [True,True,True,True,True]

Exercício 2: Trabalhando com SeriesVamos criar um objeto Index utilizando a lista de identificador. Utilizando este objeto
vamos converter cada uma das listas, geradas no exercício anterior, em objetos da
classe Series . Com base nos objetos criados:

In [12]:
index=pd.Index(identificador)
idades= pd.Series(idade, index=index)
idadeMedia= idades.mean()
idadeMax = idades.idxmax()
idadeMin = idades.idxmin()
print(f"Media de idades da equipe Cobrinhas: {idadeMedia}")
print(f"Membro mais jovem: {idadeMin} {idades[idadeMin]} anos")
print(f"Membro mais velho: {idadeMax} {idades[idadeMax]} anos")

Media de idades da equipe Cobrinhas: 24.4
Membro mais jovem: tic18Py07100 23 anos
Membro mais velho: tic18Py05996 27 anos

In [22]:
formacao = pd.Series(formação, index=index)
contagemFormados = formacao[formacao == 3].count()
contagemGranduandos = formacao[formacao.isin([1,2])].count()
contagemTecnicos = formacao[formacao.isin([0,1])].count()
print(f"Quantidade de Formados: {contagemFormados}")
print(f"Quantidade de Graduandos: {contagemGranduandos}")
print(f"Quantidade de Técnicos: {contagemTecnicos}")

Quantidade de Formados: 1
Quantidade de Graduandos: 4
Quantidade de Técnicos: 1

In [23]:
formacaoGeral = pd.Series(formaçãoGeral, index=index)
engenharia = formacaoGeral[formacaoGeral==0].count()
computacao = formacaoGeral[formacaoGeral==1].count()
print(f"Engenheiros: {engenharia}")
print(f"Computação: {computacao}")

Engenheiros: 4
Computação: 1

Exercício 3: Trabalhando com DataFrames
Crie um DataFrame utilizando as informações coletadas. Utilize o mesmo Index do
exercício anterior e de nomes apropriados às colunas. Você pode criar o objeto a partir
das listas coletadas ou dos objetos Series . Veja como foi feito o tratamento de dados
faltan o.

In [25]:
data = {
    'Identificador': identificador,
    'Idade': idade,
    'Formação': formação,
    'Formação Geral': formaçãoGeral,
    'Formação Específica': formaçãoEspecífica,
    'Andamento Graduação (%)': andamentoGraduação,
    'Tempo Formação (anos)': tempoFormação,
    'Experiência Prévia': experiênciaPrevia
}

df = pd.DataFrame(data)
df.set_index('Identificador', inplace=True)  #tornando a coluna 'Identificador' como índice.
df

,Idade,Formação,Formação Geral,Formação Específica,Andamento Graduação (%),Tempo Formação (anos),Experiência Prévia
Identificador,,,,,,,
tic18Py07799,24,2,0,Engenharia Química,76.94,NaN,True
tic18Py05996,27,1,0,Engenharia Química,81.38,NaN,True
tic18Py06799,24,3,1,Ciência da Computação,NaN,1.0,True
tic18Py08099,24,2,0,Engenharia Química,75.58,NaN,True
tic18Py07100,23,2,0,Engenharia Elétrica,90.16,NaN,True

In [34]:
idadeMedia= df['Idade'].mean()
idadeMax = df['Idade'].idxmax()
idadeMin = df['Idade'].idxmin()
print(f"Media de idades da equipe Cobrinhas: {idadeMedia}")
print(f"Membro mais jovem: {idadeMin} {df.loc[idadeMin,'Idade']} anos")
print(f"Membro mais velho: {idadeMax} {df.loc[idadeMax,'Idade']} anos")

Media de idades da equipe Cobrinhas: 24.4
Membro mais jovem: tic18Py07100 23 anos
Membro mais velho: tic18Py05996 27 anos

In [36]:
contagemFormados = df[df['Formação'] == 3].shape[0]
contagemGraduandos = df[df['Formação'].isin([1, 2])].shape[0]
contagemTecnicos = df[df['Formação'].isin ([0,1])].shape[0]
print(f"Quantidade de Formados: {contagemFormados}")
print(f"Quantidade de Graduandos: {contagemGraduandos}")
print(f"Quantidade de Técnicos: {contagemTecnicos}")

Quantidade de Formados: 1
Quantidade de Graduandos: 4
Quantidade de Técnicos: 1

In [40]:
engenharia = df[df['Formação Geral'] == 0].shape[0]
computação = df[df['Formação Geral'] == 1].shape[0]
print(f"Engenheiros: {engenharia}")
print(f"Computação: {computação}")

Engenheiros: 4
Computação: 1

Exercício 4: Trabalhando com MultiIndex
Agora vamos criar uma nova dimensão dos dados considerando cada trilha por
separado. Agrupe os índices por trilha Python, .Net e Java. Para testar o funcionamento
troque com colegas de outras equipes as listas coletadas e utilize elas para preencher os
dados das duas novas dimensões.

In [53]:
Tic18Py = [["tic18Py07799", "Python", 24, 2, 0, "Engenharia Química", 76.94, None, True],
           ["tic18Py05996", "Python", 27, 1, 0, "Engenharia Química", 81.38, None, True],
           ["tic18Py06799", "Python", 24, 3, 1, "Ciência da Computação", None, 1, True],
           ["tic18Py08099", "Python", 24, 1, 0, "Engenharia Química", 75.58, None, True],
           ["tic18Py07100", "Python", 23, 2, 0, "Engenharia Elétrica", 90.16, None, True]
          ]

Tic18Java = [["tic18Java05599", "Java", 24, 2, 0, "Engenharia Química", 76.94, None, True],
           ["tic18Java04397", "Java", 26, 1, 1, "Ciência da Computação", 81.38, None, True],
           ["tic18Java04398", "Java", 25, 3, 1, "Ciência da Computação", None, 1, True],
           ["tic18Java04799", "Java", 24, 1, 0, "Engenharia Química", 75.58, None, True],
           ["tic18Java13201", "Java", 22, 2, 0, "Engenharia Elétrica", 90.16, None, True]
          ]

Tic18Net = [["tic18Net05598", "Net", 25, 3, 0, "Engenharia Química", None, 3, True],
           ["tic18Net04397", "Net", 26, 1, 1, "Ciência da Computação", 81.38, None, True],
           ["tic18Net04398", "Net", 25, 3, 1, "Ciência da Computação", None, 1, True],
           ["tic18Net04799", "Net", 24, 1, 0, "Engenharia Química", 75.58, None, True],
           ["tic18Net13201", "Net", 22, 2, 0, "Engenharia Elétrica", 90.16, None, True]
          ]

multiIndexDF = pd.DataFrame(Tic18Py + Tic18Java + Tic18Net,
                             
                             columns=['Identificador', 'Trilha', 'Idade', 'Formação', 'Formação Geral', 'Formação Específica', 'Andamento Graduação', 'Tempo Formação', 'Experiência Prévia'])

multiIndexDF

,Identificador,Trilha,Idade,Formação,Formação Geral,Formação Específica,Andamento Graduação,Tempo Formação,Experiência Prévia
0,tic18Py07799,Python,24,2,0,Engenharia Química,76.94,NaN,True
1,tic18Py05996,Python,27,1,0,Engenharia Química,81.38,NaN,True
2,tic18Py06799,Python,24,3,1,Ciência da Computação,NaN,1.0,True
3,tic18Py08099,Python,24,1,0,Engenharia Química,75.58,NaN,True
4,tic18Py07100,Python,23,2,0,Engenharia Elétrica,90.16,NaN,True
5,tic18Java05599,Java,24,2,0,Engenharia Química,76.94,NaN,True
6,tic18Java04397,Java,26,1,1,Ciência da Computação,81.38,NaN,True
7,tic18Java04398,Java,25,3,1,Ciência da Computação,NaN,1.0,True
8,tic18Java04799,Java,24,1,0,Engenharia Química,75.58,NaN,True
9,tic18Java13201,Java,22,2,0,Engenharia Elétrica,90.16,NaN,True
10,tic18Net05598,Net,25,3,0,Engenharia Química,NaN,3.0,True
11,tic18Net04397,Net,26,1,1,Ciência da Computação,81.38,NaN,True
12,tic18Net04398,Net,25,3,1,Ciência da Computação,NaN,1.0,True
13,tic18Net04799,Net,24,1,0,Engenharia Química,75.58,NaN,True
14,tic18Net13201,Net,22,2,0,Engenharia Elétrica,90.16,NaN,True

In [61]:
idadeMediaPorTrilha = multiIndexDF.groupby('Trilha')['Idade'].mean()
idadeMaxTrilha = multiIndexDF.groupby('Trilha')['Idade'].max()
idadeMinTrilha = multiIndexDF.groupby('Trilha')['Idade'].min()
print("Media: ")
print(idadeMediaPorTrilha)
print("Minima: ")
print(idadeMinTrilha)
print("Maxima: ")
print(idadeMaxTrilha)

Media:
Trilha
Java      24.2
Net       24.4
Python    24.4
Name: Idade, dtype: float64
Minima:
Trilha
Java      22
Net       22
Python    23
Name: Idade, dtype: int64
Maxima:
Trilha
Java      26
Net       26
Python    27
Name: Idade, dtype: int64

In [75]:
contagemTrilha = multiIndexDF.groupby(['Trilha', 'Formação'])['Identificador'].count().reset_index()
contagemFormados = contagemTrilha[contagemTrilha['Formação'] == 3].set_index('Trilha')['Identificador']
contagemGraduandos = contagemTrilha[contagemTrilha['Formação'].isin([1, 2])].groupby('Trilha')['Identificador'].sum()
contagemTecnicos = contagemTrilha[contagemTrilha['Formação'].isin([0, 1])].groupby('Trilha')['Identificador'].sum()

print("Contagem de Formados por Trilha:")
print(contagemFormados)
print("\nContagem de Graduandos por Trilha:")
print(contagemGraduandos)
print("\nContagem de Técnicos por Trilha:")
print(contagemTecnicos)

Contagem de Formados por Trilha:
Trilha
Java      1
Net       2
Python    1
Name: Identificador, dtype: int64

Contagem de Graduandos por Trilha:
Trilha
Java      4
Net       3
Python    4
Name: Identificador, dtype: int64

Contagem de Técnicos por Trilha:
Trilha
Java      2
Net       2
Python    2
Name: Identificador, dtype: int64

In [76]:
engenheiros = multiIndexDF[multiIndexDF['Formação Geral'] == 0].groupby('Trilha').size()
computacao = multiIndexDF[multiIndexDF['Formação Geral'] == 1].groupby('Trilha').size()
print(f"Engenheiros: {engenheiros}")
print(f"Computação: {computacao}")

Engenheiros: Trilha
Java      3
Net       3
Python    4
dtype: int64
Computação: Trilha
Java      2
Net       2
Python    1
dtype: int64